.mat-tab-label-content {
	color: #b9bcc4 !important;
	font-family: 'Montserrat', normal !important;
	font-size: 1.5em;
}

.graph-list-empty {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    color: #606468;
}

.item-container {
    width: 220px;
    display: flex;
    justify-content: flex-end;
}

.item-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.custom-bottom-sheet{
	background-color: #202124;
	max-width: 670px !important;
	padding: 0 !important;
}

.custom-bottom-sheet .item-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding: .5em 0 .5em 0 !important;
}

.custom-bottom-sheet .item {
	background-color: rgba(0, 0, 0, 0.1);
	width: 210px;
	margin: 5px;
    padding: 5px;
	overflow: hidden;
	white-space: nowrap;
}

.custom-bottom-sheet .item-title{
	color: #a3a5a8;
	font-family: 'Montserrat';
	font-size: 15px;
	text-overflow: ellipsis;
    overflow: hidden;
}

.item-preview {
    width: 200px;
    height: 130px;
    background-color: #242529;
}

.preview {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.preview:hover {
    transform: scale(.95);
    transition: ease-out .3s;
}

.delete-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f34545;
    color: white;
    font-size: 34px;
    text-align: center;
    z-index: 2;
    /* right: 0; */
    position: absolute;
    cursor: pointer;
}