.custom-dialog {
    background-color:#2e3033;
    border-radius:3px;
    padding: 15px;
    padding-bottom: 0px;
}

.mat-dialog-container {
    padding: 0px !important;
    background-color: transparent;
}

.settings-item-text{
    color: #8d8d8d;
    font-family: 'Montserrat';
    font-size: 15px;
    margin-right: 15px;
}

.settings-item {
    padding: 12px;
}
  
.float{
    position: absolute;
    top:20px;
    left: 100px;
    background-color:#2e3033;
    border-radius:3px;
    z-index: 2;
    padding: 15px;
    padding-bottom: 0px;
}

.animation-panel {
    padding: 5px !important;
}

.animate-button {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 50px;
    margin: 2px !important;
    margin-top: 0px;
    padding: 0;
}

