button {
    font-family: 'Montserrat' !important;
}
  
.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ff4081;
}
  
.mat-stroked-button.mat-button-disabled.mat-button-disabled{
    color: #ff4081 !important;
    opacity: 30% !important; 
}
  
.mat-checkbox.mat-accent.mat-checkbox-disabled .mat-checkbox-frame {
    border-color: #747679;
}

.mat-slide-toggle-thumb {
    background-color: #5b5f63;
}
  
.mat-checkbox-frame {
    border-color: #757a7e;
}

.mat-checkbox-checkmark{
    display: none;
}