.snack-bar{
    overflow: hidden;
    white-space: nowrap;
}

.snack-bar-content {
    color: #a3a5a8;
    font-family: 'Montserrat';
    font-size: 20px;
    text-overflow: ellipsis;
}

.snackbar-background {
	background: #2b2d29;
	min-width: auto !important;
}