::selection {
    color: white;
    background: #ff4081;
}

.nav-title{
	color: #757a7e;
	padding: 16px;
}

.list-title{
	color: #747679;
	font-family: 'Montserrat';
	font-size: 30px;
	margin: 20px
}

.edit-text{
	color: #757a7e;
	font-family: 'Montserrat';
	font-size: 18px;
	margin-bottom: 10px;
}