<mat-tab-group color="accent" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="{{'EDITOR.NAVIGATION.BOTTOM_SHEET.SAVED.LABEL' | translate}}">
        <!-- <div style="display: flex; justify-content: center; padding-top: .5em;">
            <button (click)="dataService.switchEditProjectMode()" #tooltip="matTooltip"
                matTooltip="{{'EDITOR.NAVIGATION.BOTTOM_SHEET.SAVED.EDIT' | translate}}"
                matTooltipClass="custom-tooltip" matTooltipPosition="right" mat-icon-button>
                <mat-icon *ngIf="!dataService.isEditProject" inline="true" svgIcon="edit-icon"></mat-icon>
                <mat-icon *ngIf="dataService.isEditProject" inline="true" svgIcon="edit-icon-active"></mat-icon>
            </button>
            <button (click)="dataService.switchDeleteProjectMode()" #tooltip="matTooltip"
                matTooltip="{{'EDITOR.NAVIGATION.BOTTOM_SHEET.SAVED.DELETE' | translate}}"
                matTooltipClass="custom-tooltip" matTooltipPosition="right" mat-icon-button>
                <mat-icon *ngIf="!dataService.isDeleteProject" inline="true" svgIcon="delete-icon"></mat-icon>
                <mat-icon *ngIf="dataService.isDeleteProject" inline="true" svgIcon="delete-icon-active"></mat-icon>
            </button>
        </div> -->
        <div *ngIf="dataService.graphList.length" mat-icon-button class="item-list">
            <div class="item-container" *ngFor="let graph of dataService.graphList">
                <div (click)="deleteProject(data.container, graph.title, graph.id)" class="delete-button" #tooltip="matTooltip"
                matTooltipClass="custom-tooltip" matTooltip="{{'EDITOR.NAVIGATION.BOTTOM_SHEET.SAVED.DELETE' | translate}}">-</div>
                <div
                class="item">
                <button class="item-preview" (click)="openProject(graph.id)" #tooltip="matTooltip"
                matTooltipClass="custom-tooltip" matTooltip="{{'EDITOR.NAVIGATION.BOTTOM_SHEET.SAVED.OPEN' | translate}} {{graph.title}}" mat-button>
                    <img *ngIf="graph.image" class="preview" src="{{graph.image}}" />
                    <img *ngIf="!graph.image" style="opacity: 0; width: 200px; height: 130px;" />
                </button>
                <div class="item-title-container">
                    <div class="item-title">{{graph.title}}</div>
                    <button (click)="editProject(data.container, graph.title, graph.id)" #tooltip="matTooltip"
                matTooltip="{{'EDITOR.NAVIGATION.BOTTOM_SHEET.SAVED.EDIT' | translate}}"
                matTooltipClass="custom-tooltip" matTooltipPosition="right" mat-icon-button>
                <mat-icon style="width: 28px !important; height: 28px !important; z-index: 10;" inline="true" svgIcon="edit-icon"></mat-icon>
            </button>
        </div>
    </div>
        </div>
        </div>
        <div *ngIf="!dataService.graphList.length" class="graph-list-empty">{{'EDITOR.NAVIGATION.BOTTOM_SHEET.EMPTY' |
            translate}}</div>
    </mat-tab>
    <mat-tab label="{{'EDITOR.NAVIGATION.BOTTOM_SHEET.EXAMPLES' | translate}}">
        <div mat-icon-button class="item-list">
            <button *ngFor="let graph of dataService.examples"
                (click)="openProject(graph.id)" #tooltip="matTooltip"
                matTooltipClass="custom-tooltip" matTooltip="{{graph.title | translate}}" class="item" mat-button>
                <div class="item-preview">
                    <img *ngIf="graph.image" class="preview" src="../../../../assets/images/{{graph.image}}" />
                    <img *ngIf="!graph.image" style="opacity: 0; width: 200px; height: 130px;" />
                </div>
                <a class="item-title">{{graph.title | translate}}</a>
            </button>
        </div>
    </mat-tab>
</mat-tab-group>