.network {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #202124;
	background-image: radial-gradient(circle, #28292c 30%, transparent 10%), radial-gradient(circle, #28292c 30%, transparent 10%);
	background-size: 15px 15px;
	background-position: 0 0, 30px 30px;
	z-index: 1;
}