<div class="container">
  <mat-sidenav-container [autosize]="true" class="example-sidenav-container">
    <mat-sidenav #snav style="background-color: #2e3033;" mode="side" (opened)="isNavOpen = true" (closed)="isNavOpen = false">
      <mat-nav-list style="padding: 5px">
<!-- MATRIX -->
        <div *ngIf="!isMatrixOpen">
          <div *ngIf="graphService.enableMatrix">
            <mat-expansion-panel style="margin-bottom: 5px;" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="edit-text" style="margin-bottom: 0;">Macierz sąsiedztwa</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-adjacency-matrix></app-adjacency-matrix>
            </mat-expansion-panel>
            <!-- INC PANEL-->
            <mat-expansion-panel style="margin-bottom: 5px;" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="edit-text" style="margin-bottom: 0;">Macierz incydencji</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-incidence-matrix></app-incidence-matrix>
            </mat-expansion-panel>
            <!-- LIST PANEL-->
            <mat-expansion-panel style="margin-bottom: 5px;" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="edit-text" style="margin-bottom: 0;">Lista sąsiedztwa</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-adjacency-list></app-adjacency-list>
            </mat-expansion-panel>
          </div>
          <div *ngIf="!graphService.enableMatrix" class="edit-text" style="padding-top: 100%; height: 100%; width: 280px; text-align: center;">Generowanie reprezentacji <b>wyłączone w ustawieniach.</b></div>
          </div>
<!-- ALGORITHM -->
          <div *ngIf="!isAlgOpen">
            <div class="edit-text matrix">Węzeł startowy: 
              <span *ngIf="graphService.isStartNodeSet()">{{graphService.getNodeLabel(graphService.startNodeID)}}</span>
              <span *ngIf="!graphService.isStartNodeSet()">brak</span>
            </div>
            <mat-expansion-panel style="margin-bottom: 5px;" [disabled]="!graphService.isStartNodeSet()" [expanded]="graphService.isStartNodeSet()">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="edit-text" style="margin-bottom: 0;">Przeszukiwanie w głąb (DFS)</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="matrix-container matrix" style="max-height: 150px;">
                <span *ngFor="let node of graphService.dfsResult; let i = index" >
                  <td>
                    <a style="font-size: 20px; color: #8c8f92;"><span *ngIf="i > 0" style="opacity: 50%;">&#10142;</span><span [ngStyle]="{'color': i === 0  ? '#ff4081' : '' }">{{graphService.loadedNodes[node].label}}</span></a>
                  </td>
                </span>
              </div>
              <button [disabled]="this.graphService.inAnimateMode" (click)="graphService.animateSearch(graphService.dfsResult)" mat-stroked-button color="accent" style="margin-top: 10px; float: right; border-color: #ff4081 !important;">Wizualizacja</button>
            </mat-expansion-panel>
            <mat-expansion-panel style="margin-bottom: 5px;" [disabled]="!graphService.isStartNodeSet()" [expanded]="graphService.isStartNodeSet()">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="edit-text" style="margin-bottom: 0;">Przeszukiwanie wszerz (BFS)</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="matrix-container matrix" style="max-height: 150px;">
                <span *ngFor="let node of graphService.bfsResult; let i = index" >
                  <td>
                    <a style="font-size: 20px; color: #8c8f92;"><span *ngIf="i > 0" style="opacity: 50%;">&#10142;</span><span [ngStyle]="{'color': i === 0  ? '#ff4081' : '' }">{{graphService.loadedNodes[node].label}}</span></a>
                  </td>
                </span>
              </div>
              <button [disabled]="this.graphService.inAnimateMode" (click)="graphService.animateSearch(graphService.bfsResult)" mat-stroked-button color="accent" style="margin-top: 10px; float: right; border-color: #ff4081 !important;">Wizualizacja</button>
            </mat-expansion-panel>
            <mat-expansion-panel style="margin-bottom: 5px;" expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="edit-text" style="margin-bottom: 0;">Kolorowanie węzłów</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="matrix-container matrix">
                <div style="height: 36px;">
                  <a class="edit-text" style="font-size: 18px; color: #8c8f92;">Oznaczenie stopni</a>
                  <button (click)="graphService.degreeColor()" mat-stroked-button color="accent" style="float: right; border-color: #ff4081 !important;">Koloruj</button>
                </div>
                <mat-divider style="opacity: 10%; margin-top: 10px; margin-bottom: 10px;"></mat-divider>
                <div style="height: 36px;">
                  <a class="edit-text" style="font-size: 18px; color: #8c8f92;">Wg sąsiedztwa</a>
                  <button (click)="graphService.colorNodes(graphService.adjSort())" mat-stroked-button color="accent" style="float: right; border-color: #ff4081 !important;">Koloruj</button>
                </div>
                <mat-divider style="opacity: 10%; margin-top: 10px; margin-bottom: 10px;"></mat-divider>
                <div style="height: 36px;">
                  <a class="edit-text" style="font-size: 18px; color: #8c8f92;">Wg stopni</a>
                  <button (click)="graphService.colorNodes(graphService.degreeSort())" mat-stroked-button color="accent" style="float: right; border-color: #ff4081 !important;">Koloruj</button>
                </div>
                <mat-divider style="opacity: 10%; margin-top: 10px; margin-bottom: 10px;"></mat-divider>
                <div style="height: 36px;">
                  <a class="edit-text" style="font-size: 18px; color: #8c8f92;">Losowo</a>
                  <button (click)="graphService.colorNodes(graphService.randSort())" mat-stroked-button color="accent" style="float: right; border-color: #ff4081 !important;">Koloruj</button>
                </div>
              </div>
              <button (click)="graphService.getRandomColors(1000)" mat-stroked-button color="accent" style="margin-top: 10px; float: left; border-color: #ff4081 !important;">Zmień kolory</button>
              <button (click)="graphService.resetGraph()" mat-stroked-button color="accent" style="margin-top: 10px; float: right; border-color: #ff4081 !important;">Resetuj</button>
            </mat-expansion-panel>
          </div>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
<!-- FLOATING MENU -->
        <div *ngIf="graphService.selectedNodeID !== null && !graphService.inAnimateMode" id="node-editor" class="float">
          <div class="edit-text">Węzeł</div>
          <mat-form-field color="accent" appearance="fill" style="margin-bottom: 10px">
            <mat-label>Zmień etykietę</mat-label>
            <input matInput #input autocomplete="off" maxlength="3" (keyup)="editNode($event)" [(ngModel)]="this.graphService.nodeLabel">
          </mat-form-field>
          <div style="padding-bottom: 10px;"> 
            <a class="edit-text" style="font-size: 15px">Węzeł startowy</a>
            <mat-slide-toggle style="float:right" [checked]="graphService.getStartNode()" (change)="graphService.setStartNode()"></mat-slide-toggle>
          </div>
        </div>

        <div *ngIf="graphService.selectedEdgeID !== null && !graphService.inAnimateMode" id="node-editor" class="float">
          <div class="edit-text">Krawędź</div>
          <mat-form-field color="accent" appearance="fill" style="margin-bottom: 10px">
            <mat-label>Zmień wagę</mat-label>
            <input matInput autocomplete="off" type="number" (keyup)="editEdge($event)" [(ngModel)]="this.graphService.edgeWeight">
          </mat-form-field>
        </div>

        <div *ngIf="graphService.inAnimateMode" id="animation-panel" class="float">
          <button (click)="graphService.animationStart()"
            [disabled]="graphService.isAnimationPlayed"
            #tooltip="matTooltip"
            matTooltipClass="custom-tooltip" 
            matTooltip="Odtwarzaj" class="animate-button" mat-button>
            <mat-icon [ngStyle]="{'opacity' : graphService.isAnimationPlayed ? '50%' : '100%' }" svgIcon="play-icon"></mat-icon>
          </button>
          <button (click)="graphService.exitAnimate()"
            #tooltip="matTooltip"
            matTooltipClass="custom-tooltip" 
            matTooltip="Zakończ" class="animate-button" mat-button>
            <mat-icon svgIcon="stop-icon"></mat-icon>
          </button>
          <br>
          <mat-form-field color="accent" appearance="fill" style="margin-top: 2px">
            <mat-label>Czas przejścia</mat-label>
            <input [disabled]="graphService.isAnimationPlayed" matInput min="0" type="number" autocomplete="off" (keyup)="editAnimationSpeed($event)" [(ngModel)]="this.graphService.animationSpeed">
            <span [ngStyle]="{'opacity' : graphService.isAnimationPlayed ? '50%' : '100%' }" matSuffix>s</span>
          </mat-form-field>
        </div>
      
        <div class="side-nav">
          <!-- FILE MENU --> 
            <div class="nav-button-container">
                <button [disabled]="this.graphService.inAnimateMode" (click)="openFilesMenu()" 
                class="nav-button"
                mat-icon-button 
                #tooltip="matTooltip"
                matTooltip="Zapisane grafy"
                matTooltipClass="custom-tooltip"
                matTooltipPosition="right">
                  <mat-icon 
                  [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }"
                  [matBadge]="dataService.graphList.length" 
                  matBadgeColor="accent" 
                  matBadgePosition="below after" 
                  svgIcon="files-icon" 
                  [matBadgeHidden]="dataService.graphList.length === 0"></mat-icon></button>
            </div>
            <mat-divider style="opacity: 0;"></mat-divider>
            <div class="nav-button-container">
                <button [disabled]="this.graphService.inAnimateMode" (click)="openSaveGraphConfirm()" class="nav-button" 
                #tooltip="matTooltip"
                matTooltipClass="custom-tooltip"
                matTooltip="Nowy graf"
                matTooltipPosition="right" mat-icon-button><mat-icon [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }" svgIcon="new-icon"></mat-icon></button>
            </div>
            <mat-divider style="opacity: 0;"></mat-divider>
            <div class="nav-button-container">
                <button [disabled]="this.graphService.inAnimateMode" (click)="dataService.saveAndCreateNew(this.el, false)" class="nav-button" 
                #tooltip="matTooltip"
                matTooltipClass="custom-tooltip"
                matTooltip="Zapisz zmiany"
                matTooltipPosition="right" mat-icon-button><mat-icon [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }" svgIcon="save-icon"></mat-icon></button>
            </div>
            <mat-divider></mat-divider>
            <!-- MATH MENU -->
            <div class="nav-button-container">
                <button [disabled]="this.graphService.inAnimateMode" (click)="matrixToggle() ? snav.toggle() : matrixToggle()" class="nav-button" 
                #tooltip="matTooltip"
                matTooltipClass="custom-tooltip"
                matTooltip="Reprezentacje grafu"
                matTooltipPosition="right" mat-icon-button>
                <mat-icon *ngIf="!isNavOpen || isMatrixOpen" [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }" svgIcon="matrix-icon"></mat-icon>
                <mat-icon *ngIf="isNavOpen && !isMatrixOpen" [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }" svgIcon="matrix-icon-active"></mat-icon>
              </button>
            </div>
            <mat-divider style="opacity: 0;"></mat-divider>
            <div class="nav-button-container">
              <button (click)="algToggle() ? snav.toggle() : algToggle()" class="nav-button" 
              #tooltip="matTooltip"
              matTooltipClass="custom-tooltip"
              matTooltip="Algorytmy"
              matTooltipPosition="right" mat-icon-button>
              <mat-icon *ngIf="!isNavOpen || isAlgOpen" svgIcon="alg-icon"></mat-icon>
              <mat-icon *ngIf="isNavOpen && !isAlgOpen" svgIcon="alg-icon-active"></mat-icon>
            </button>
          </div>
            <mat-divider></mat-divider>
            <!-- EDIT MENU -->
            <div class="nav-button-container">
              <button [disabled]="this.graphService.inAnimateMode" (click)="this.graphService.addNode()" class="nav-button" 
              #tooltip="matTooltip"
              matTooltipClass="custom-tooltip"
              matTooltip="Dodaj węzeł"
              matTooltipPosition="right" mat-icon-button>
              <mat-icon *ngIf="!graphService.isAddNode" [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }" svgIcon="add-icon"></mat-icon>
              <mat-icon *ngIf="graphService.isAddNode" [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }" svgIcon="add-icon-active"></mat-icon>
            </button>
            </div>
            <mat-divider style="opacity: 0;"></mat-divider>
            <div class="nav-button-container">
              <button [disabled]="this.graphService.inAnimateMode" (click)="this.graphService.addEdge()" class="nav-button" 
              #tooltip="matTooltip"
              matTooltipClass="custom-tooltip"
              matTooltip="Dodaj krawędź"
              matTooltipPosition="right" mat-icon-button>
              <mat-icon *ngIf="!graphService.isAddEdge" [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }" svgIcon="edge-icon"></mat-icon>
              <mat-icon *ngIf="graphService.isAddEdge" [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }" svgIcon="edge-icon-active"></mat-icon>
            </button>
            </div>
            <mat-divider style="opacity: 0;"></mat-divider>
            <div class="nav-button-container">
              <button [disabled]="!this.graphService.edgeSelected || this.graphService.inAnimateMode" (click)="this.graphService.editEdge()" class="nav-button" 
              #tooltip="matTooltip"
              matTooltipClass="custom-tooltip"
              matTooltip="Edytuj krawędź"
              matTooltipPosition="right" mat-icon-button>
              <mat-icon *ngIf="!graphService.isEditEdge" [ngStyle]="{'opacity': this.graphService.edgeSelected && !this.graphService.inAnimateMode ? '100%' : '30%' }" svgIcon="edit-edge-icon"></mat-icon>
              <mat-icon *ngIf="graphService.isEditEdge" [ngStyle]="{'opacity': !this.graphService.inAnimateMode  ? '100%' : '30%' }" svgIcon="edit-edge-icon-active"></mat-icon>
            </button>
            </div>
            <mat-divider style="opacity: 0;"></mat-divider>
            <div class="nav-button-container">
              <button [disabled]="!(this.graphService.edgeSelected || this.graphService.nodeSelected) || this.graphService.inAnimateMode" (click)="this.graphService.deleteSelected()" class="nav-button" 
              #tooltip="matTooltip"
              matTooltipClass="custom-tooltip"
              matTooltip="Usuń zaznaczony element"
              matTooltipPosition="right" mat-icon-button>
              <mat-icon [ngStyle]="{'opacity': ( this.graphService.edgeSelected || this.graphService.nodeSelected ) && !graphService.inAnimateMode ? '100%' : '30%' }" svgIcon="delete-icon"></mat-icon></button>
            </div>
            <div style="position: absolute; bottom: 0;" class="nav-button-container">
              <button class="nav-button" 
              #tooltip="matTooltip"
              matTooltipClass="custom-tooltip"
              matTooltip="Ustawienia"
              matTooltipPosition="right" 
              mat-button [matMenuTriggerFor]="afterMenu"
              mat-icon-button><mat-icon svgIcon="settings-icon"></mat-icon></button>
              <mat-menu class="settings" #afterMenu="matMenu" xPosition="after">
                <div (click)=$event.stopPropagation()>
                  <div class="settings-item">
                    <a class="settings-item-text">Gładkie krawędzie</a>
                    <mat-slide-toggle [disabled]="graphService.inAnimateMode" style="float:right" [(ngModel)]="graphService.enableSmooth" (change)="graphService.changeSmooth()" ></mat-slide-toggle>
                  </div>
                  <div class="settings-item">
                    <a class="settings-item-text">Fizyka</a>
                    <mat-slide-toggle [disabled]="graphService.inAnimateMode" style="float:right" [(ngModel)]="graphService.enablePhysics" (change)="graphService.changePhysics()"></mat-slide-toggle>
                  </div>
                  <mat-divider style="opacity: 10%;"></mat-divider>
                  <div class="settings-item"
                  #tooltip="matTooltip"
                    matTooltipClass="custom-tooltip"
                    matTooltip="Funkcja niezalecana dla dużych grafów."
                    matTooltipPosition="right">
                    <a class="settings-item-text">Generowanie reprezentacji</a>
                    <mat-slide-toggle style="float:right" [(ngModel)]="graphService.enableMatrix" (change)="graphService.getMatrix()"></mat-slide-toggle>
                  </div>
                  <mat-divider style="opacity: 10%;"></mat-divider>
                  <div class="settings-item">
                    <a class="settings-item-text">Ukryj wagi krawędzi</a>
                    <mat-slide-toggle style="float:right" [(ngModel)]="graphService.enableEdgeLabel" (change)="graphService.changeEdgeLabel()"></mat-slide-toggle>
                  </div>
                  <div class="settings-item">
                    <a class="settings-item-text">Ukryj etykiety węzłów</a>
                    <mat-slide-toggle style="float:right" [(ngModel)]="graphService.enableNodeLabel" (change)="graphService.changeNodeLabel()"></mat-slide-toggle>
                  </div>
                  <div class="settings-item">
                    <a class="settings-item-text">Siatka</a>
                    <mat-slide-toggle style="float:right" [(ngModel)]="graphService.enableGrid"></mat-slide-toggle>
                  </div>
                </div>
              </mat-menu>
            </div>
        </div>
        <div (click)="this.graphService.disableEditMode()" [ngStyle]="{'background-image' : graphService.enableGrid ? '' : 'none'}" id="network" #network></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>