.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

   .example-toolbar {
     background-color: rgb(255, 255, 255);
   }

  .side-nav {
      position: absolute;
      height: 100%;
      //background: white;
      background: #292a2d;
      z-index: 3;
  }

  mat-icon{
      width: 40px;
      height: 40px;
  }

  mat-sidenav{
      background-color: #2e3033;
      color: #8d8d8d;
      min-width: 300px;
      display: inline;
  }

  .item{
    color: #dee0e3;
    font-family: 'Montserrat';
  }

  .settings-item-text{
    color: #8d8d8d;
    font-family: 'Montserrat';
    font-size: 15px;
    margin-right: 15px;
  }

  .settings-item {
    padding: 12px;
  }
  .nav-title{
      color: #757a7e;
      padding: 16px;
  }

  mat-divider {
    border-color: white;
    opacity: 20%;
    margin-right: 5px;
    margin-left: 5px;
}
  .nav-button{
    width: 54px;
    height: 54px;
  }

  .float{
    position: absolute;
    top:20px;
    left: 100px;
    background-color:#2e3033;
    border-radius:3px;
    z-index: 2;
    padding: 15px;
    padding-bottom: 0px;
  }

  .nav-button-container{
      padding: 5px;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 3;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
   
    flex: 1;
  }
  
  #animation-panel {
    padding: 5px;
  }

  .animate-button {

    background-color: rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 50px;
    margin: 2px;
    margin-top: 0px;
    padding: 0;
  }
  
  .example-is-mobile .example-sidenav-container {
   
    flex: 1 0 auto;
  }
