.container {
    overflow: hidden;
    background: linear-gradient(180deg, #131415 0%, #2E2E30 117.01%);
    padding: 20px 120px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
}

.brand {
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.landing-image {
    max-height: 80vh;
    width: auto;
    animation: float 6s ease-in-out infinite;
}
 
.editor-button {
    cursor: pointer;
    width: 250px;
    height: 60px;
    border: 2px solid;
    outline: none;
    border-image: linear-gradient(180deg, #FF4081 0%, #FF7373 130.49%) 1;
    background: transparent;
    padding: 0.7em 2em;
    transition: .5s;
    transition: transform .1s;
}

.text{
    font-weight: bold;
    font-size: 1.3rem;
    background: linear-gradient(180deg, #FF4081 0%, #FF7373 130.49%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.editor-button:hover {
    -webkit-box-shadow: 0px 0px 30px -3px #E05151; 
    box-shadow: 0px 0px 30px -3px #E05151;
    background: linear-gradient(180deg, #FF4081 0%, #FF7373 130.49%);
    transition: .5s;
}

.editor-button:active {
    transform: translatey(5px);
    transition: transform .1s;
}

.editor-button:hover .text {
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 5.2em;
    color: #FFFFFF;
    margin-bottom: 30px;
    line-height: 1.1em;
}

h2 {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 80px;
    color: #959595; 
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media (max-width: 600px) { 
    .container {padding: 20px;}
    .content {flex-direction: column; margin: 0 0;}
    .header {width: auto; align-items: center; height: 100%; justify-content: space-around;}
    .brand {display: flex;justify-content: center;}
    .text-container {text-align: center;}
    h1 {
        font-weight: normal;
        font-size: 1.5em;
        color: #FFFFFF;
        margin-bottom: 0px;
        line-height: 1.1em;
    }
    
    h2 {
        font-weight: normal;
        font-size: .7rem;
        margin-bottom: 20px;
    }
    .landing-image {
        animation: none;
        position: relative;
        transform: scale(2.5);
        bottom: -30%;
        left: -10%;
    }
     
}