<div class="container">
    <div class="brand">
        <img src="../../../assets/images/logo.svg" width="120" />
    </div>
    <div class="content">
        <div class="header">
            <div class="text-container">
                <h1>{{'HOME.TITLE' | translate}}</h1>
                <h2>{{'HOME.SUBTITLE' | translate}}</h2>
            </div>
            <button class="editor-button" (click)="loadEditor()"><span class="text">{{'HOME.BUTTON' |
                    translate}}</span></button>
        </div>
        <object class="landing-image" type="image/svg+xml" data="../../../assets/images/landing.svg"></object>
    </div>