@import "./assets/scss/vis.scss";
@import "./assets/scss/representations.scss";
@import "./assets/scss/custom-material/dialog.scss";
@import "./assets/scss/custom-material/input.scss";
@import "./assets/scss/custom-material/form.scss";
@import "./assets/scss/custom-material/expansion-panel.scss";
@import "./assets/scss/custom-material/scrollbar.scss";
@import "./assets/scss/custom-material/snackbar.scss";
@import "./assets/scss/custom-material/tooltip.scss";
@import "./assets/scss/custom-material/text.scss";
@import "./assets/scss/custom-material/sidebar.scss";

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./assets/fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/montserrat-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/montserrat-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html, body { 
	height: 100%; 
}

body {
    font-family: 'Montserrat', normal;
	margin: 0;
	background-color: #212121;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}