@import "./assets/scss/vis.scss";
@import "./assets/scss/representations.scss";
@import "./assets/scss/custom-material/dialog.scss";
@import "./assets/scss/custom-material/input.scss";
@import "./assets/scss/custom-material/form.scss";
@import "./assets/scss/custom-material/expansion-panel.scss";
@import "./assets/scss/custom-material/scrollbar.scss";
@import "./assets/scss/custom-material/snackbar.scss";
@import "./assets/scss/custom-material/tooltip.scss";
@import "./assets/scss/custom-material/text.scss";
@import "./assets/scss/custom-material/sidebar.scss";

html, body { 
	height: 100%; 
}

body {
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #212121;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}