@import "./assets/scss/vis.scss";
@import "./assets/scss/representations.scss";
@import "./assets/scss/custom-material/dialog.scss";
@import "./assets/scss/custom-material/input.scss";
@import "./assets/scss/custom-material/form.scss";
@import "./assets/scss/custom-material/expansion-panel.scss";
@import "./assets/scss/custom-material/scrollbar.scss";
@import "./assets/scss/custom-material/snackbar.scss";
@import "./assets/scss/custom-material/tooltip.scss";
@import "./assets/scss/custom-material/text.scss";
@import "./assets/scss/custom-material/sidebar.scss";
@import "./assets/scss/custom-material/bottom-sheet.scss";
@import "./assets/scss//loading.scss";

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/montserrat-v18-latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./assets/fonts/montserrat-v18-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/montserrat-v18-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/montserrat-v18-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/montserrat-v18-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/montserrat-v18-latin-ext-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html, body { 
	height: 100%; 
}

body {
    font-family: 'Montserrat', normal;
	margin: 0;
	background-color: #212121;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.add-node-cursor {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:rgba(255,64,129,0.5);%7D.b%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M10,0A10,10,0,1,1,0,10,10,10,0,0,1,10,0Z' transform='translate(2 2)'/%3E%3Cpath class='b' d='M0,0H24V24H0Z'/%3E%3Cpath class='a' d='M13,7H11v4H7v2h4v4h2V13h4V11H13ZM12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.011,8.011,0,0,1,12,20Z'/%3E%3C/svg%3E") 24 24, pointer;
}

.add-edge-cursor {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:rgba(255,64,129,0.8);%7D.b%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M 13 7 h -2 v 4 H 7 v 2 h 4 v 4 h 2 v -4 h 4 v -2 h -4 V 7 z z z'/%3E%3C/svg%3E") 24 24, pointer;
}