/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #212121;}

.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #ff4081;
}

.mat-stroked-button.mat-button-disabled.mat-button-disabled{
  color: #ff4081 !important;
  opacity: 30% !important; 
}

button {
  font-family: 'Montserrat' !important;
}

.mat-checkbox.mat-accent.mat-checkbox-disabled .mat-checkbox-frame {
  border-color: #747679;
}

.mat-drawer-container {
  background-color: #2e3033 !important;
}

.matrix-container {
  // margin: 10px;
  width: auto;
  height: auto;
  margin-bottom: 0px;
}

.matrix {
  padding: 10px;
  background-color: #2e3033;
  border-radius: 3px;
  overflow: auto;
  max-width: 400px;  
}

.mat-expansion-panel{
  background-color: #292a2d;
}

.mat-expansion-panel-header-description, 
.mat-expansion-indicator::after {
    color: #747679;
}

.mat-expansion-panel-body {
  padding: 5px !important;
}

.mat-expansion-panel-header {
  padding: 10px !important;
  height: auto !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5b5f63; 
}

::-webkit-scrollbar-thumb:hover {
  background: #494d50; 
}

.custom-tooltip {
  font-family: 'Montserrat';
  font-size: 15px;
  color: #dee0e3 !important;
  background: #5b5f63 !important;
}

.mat-list-item-content {
  padding-right: 0 !important;
  padding-left: 8px !important;
}


.edit-text{
  color: #757a7e;
  font-family: 'Montserrat';
  font-size: 20px;
  margin-bottom: 10px;
}

.mat-menu-panel{
  height: 100% !important;
  max-width: none !important;
  background: #202124 !important;
}

.mat-slide-toggle-thumb {
  background-color: #5b5f63;
}

.mat-form-field-label{
  color: #5b5f63;
}

.mat-form-field{
  font-family: 'Montserrat';
  color: white;
}

.mat-checkbox-frame {
  border-color: #757a7e;
}

#network{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #202124;
  background-image: radial-gradient(circle, #28292c 30%, transparent 10%), radial-gradient(circle, #28292c 30%, transparent 10%);
  background-size: 20px 20px;
  background-position: 0 0, 20px 20px;
  z-index: 1;
}

.custom-bottom-sheet{
  background-color: #202124;
  max-width: 750px !important;
}

.custom-bottom-sheet .item-list {
  display: inline-block;
}

.custom-bottom-sheet .item {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100px;
  height: auto;
  margin: 2px;
  overflow: hidden;
  white-space: nowrap;
}

.custom-bottom-sheet .item-title{
  color: #a3a5a8;
  font-family: 'Montserrat';
  font-size: 15px;
  text-overflow: ellipsis;
}

.list-title{
  color: #747679;
  font-family: 'Montserrat';
  font-size: 30px;
  margin: 20px
}

.mat-checkbox-checkmark{
  display: none;
}

.snackbar-background{
  background: #292a2d;
  min-width: auto !important;
}

.custom-dialog {
  background-color:#2e3033;
  border-radius:3px;
  padding: 15px;
  padding-bottom: 0px;
}

.mat-dialog-container {
  padding: 0px !important;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.mat-form-field-wrapper{
  margin-bottom: -1.25em !important;
}