.matrix-container {
    width: auto;
    height: auto;
    margin-bottom: 0px;
}
  
.matrix {
    padding: 10px;
    background-color: #2e3033;
    border-radius: 3px;
    overflow: auto;
    max-width: 400px;
    max-height: 400px;  
}