<div *ngIf="options.enableMatrix">
    <mat-expansion-panel style="margin-bottom: 5px;" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="edit-text" style="margin-bottom: 0;">
                    {{'EDITOR.NAVIGATION.SIDEBAR.CONTENT.REPRESENTATIONS.ADJACENCY_MATRIX' | translate}}</div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-adjacency-matrix [nodesConnections]="algorithmsService.adjConnections"></app-adjacency-matrix>
    </mat-expansion-panel>
    <!-- INC PANEL-->
    <mat-expansion-panel style="margin-bottom: 5px;" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="edit-text" style="margin-bottom: 0;">
                    {{'EDITOR.NAVIGATION.SIDEBAR.CONTENT.REPRESENTATIONS.INCIDENCE_MATRIX' | translate}}</div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-incidence-matrix [nodes]="algorithmsService.nodes" [edges]="algorithmsService.edges">
        </app-incidence-matrix>
    </mat-expansion-panel>
    <!-- LIST PANEL-->
    <mat-expansion-panel style="margin-bottom: 5px;" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="edit-text" style="margin-bottom: 0;">
                    {{'EDITOR.NAVIGATION.SIDEBAR.CONTENT.REPRESENTATIONS.ADJACENCY_LIST' | translate}}</div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-adjacency-list [nodes]="algorithmsService.nodes"></app-adjacency-list>
    </mat-expansion-panel>
</div>
<div *ngIf="!options.enableMatrix" class="edit-text"
    style="padding-top: 100%; height: 100%; width: 280px; text-align: center;">
    {{'EDITOR.NAVIGATION.SIDEBAR.CONTENT.REPRESENTATIONS.DISABLED.1' | translate}}
    <b>{{'EDITOR.NAVIGATION.SIDEBAR.CONTENT.REPRESENTATIONS.DISABLED.2' | translate}}</b>
</div>